body {
  background-color: black;
}

.App {
  text-align: center;
}

.inline-block {
  display: inline-block;
}

.container {
  margin: 0 auto;
  background-color: black;
  overflow: hidden;
  padding: 20px;
  border-radius: 8px;
  margin-top: 15px;
}

.post-card {
  margin: 0 0 20px 0;
  border-radius: 0;
  background-color: #1A1A1B;
  color: white;

  .post-card-title {
    display: inline-block;
  }

  .post-card-body{
    background-color: #161617;
  }
}

.react-icons {
  vertical-align: middle;
}

.btn {
  color:white !important;
  padding: 0 !important;
}

.card-footer {
  padding: 10px !important;
}

.post-score {
  margin-right: 15px;
}