.App {
  text-align: center;
}

.dashboard-container {
  padding: 20px;
  color: white;
}

.post-card {
  margin: 15px 0 25px 0;
}

.logo { 
  width: 30px;
  height: 30px;
  margin: 0 15px 0 0;
}

.btn-flat {
  background-color: #E65100;
  color: white;
}